<div class="col-lg-8 mx-auto">
    <div class="card">
        <div class="card-header">
            <strong>Thêm Sản Phẩm</strong> 
        </div>
        <div class="card-body card-block">
            <form  method="POST" [formGroup]="themmoiblog" (submit)="onAddblog()">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="TenBlog" >Tên Blog</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="TenBlog" formControlName="TenBlog" placeholder="TenBlog" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="AnhBlog" >Ảnh Blog</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="AnhBlog" formControlName="AnhBlog" placeholder=" AnhBlog" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="TomTat" >Tóm Tắt</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="TomTat" formControlName="TomTat" placeholder=" TomTat" class="form-control"></div>
                </div>
                
            
                <div class="row form-group">
                    <div class="col col-md-3"><label for="NoiDung" >Nội Dung</label></div>
                    <div class="col-12 col-md-9"><textarea formControlName="NoiDung" id="NoiDung" rows="9" placeholder="NoiDung." class="form-control"></textarea></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="NguoiDang" >Người Đăng</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="NguoiDang" formControlName="NguoiDang" placeholder=" NguoiDang" class="form-control"></div>
                </div>
                <!-- <div class="row form-group">
                    <div class="col col-md-3"><label for="select" >Select</label></div>
                    <div class="col-12 col-md-9">
                        <select name="select" id="select" class="form-control">
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                        </select>
                    </div>
                </div>  -->
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">Thêm Mới</button>
                </div>
            </form>
        </div>
    </div>