<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">
  
       
  
        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img src="assets/client/images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Đăng kí để nhận tin tức mới nhất</span></h3>
  
                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Nhập tên của bạn">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Nhập email">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>
  
                </div>
                
            </div>
            <!-- <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">MonoLab<span>.</span></a></div>
                <p class="mb-4">Là những không gian nhỏ được xây dựng và từng bước hoàn thiện bằng năng lượng và tâm hồn của những người trẻ, những người yêu thích việc uống một tách cà phê văn minh và sống trong không gian dịch vụ ấm áp.</p>
  
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
  
                </ul>
            </div> -->
        </div>
  
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">MonoLab<span>.</span></a></div>
                <p class="mb-4">Là những không gian nhỏ được xây dựng và từng bước hoàn thiện bằng năng lượng và tâm hồn của những người trẻ, những người yêu thích việc uống một tách cà phê văn minh và sống trong không gian dịch vụ ấm áp.</p>
  
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
  
                </ul>
            </div>
  
            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Dịch vụ</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
  
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Hỗ trợ</a></li>
                            <li><a href="#">Cơ sở kiến thức</a></li>
                            <li><a href="#">Tư Vấn</a></li>
                        </ul>
                    </div>
  
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Công viêc</a></li>
                            <li><a href="#">Đội của chúng tôi</a></li>
                            <li><a href="#">Khả năng lãnh đạo</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
  
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Arabica</a></li>
                            <li><a href="#">Robusta</a></li>
                            <li><a href="#">Catimor</a></li>
                        </ul>
                    </div>
                </div>
            </div>
  
        </div>
  
        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. 10120778_DuongVanMinhVu . &mdash; Thiết kế hệ thống website bán cà phê</p>
                </div>
  
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Điều khoản & Điều kiện</a></li>
                        <li><a href="#">Chính sách bảo mật </a></li>   
                    </ul>
                </div>
  
            </div>
        </div>
  
    </div>
  </footer>
  <!-- End Footer Section -->	
  
