<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Về chúng tôi</h1>
                    <p class="mb-4"> "Nếu bạn còn chưa hài lòng với đồ uống của mình.
                        <br> Đừng ngại ngần yêu cầu chúng tôi thay đổi để hợp với khẩu vị của bạn nhé!"</p>
                        <p class="mb-4"> #monocoffeebottle #monocoffeelab</p>
    

                    <p><a href="" class="btn btn-secondary me-2">Cửa Hàng</a><a href="#" class="btn btn-white-outline">Khám Phá</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="assets/client/images/about_2.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
<div class="container">
    <div class="row justify-content-between align-items-center">
        <!-- Start We Help Section -->
    <div class="we-help-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="imgs-grid">
                        <div class="grid grid-1"><img src="/assets/client/images/blog_2.3.jpg" alt="Untree.co"></div>
                        <div class="grid grid-2"><img src="/assets/client/images/banner_img_01.jpg" alt="Untree.co"></div>
                        <div class="grid grid-3"><img src="/assets/client/images/banner_img_02.jpg" alt="Untree.co"></div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5">
                    <h2 class="section-title mb-4">QUAN ĐIỂM DỊCH VỤ</h2>
                    <p>Mỗi ngày trôi qua chúng tôi vẫn đang chăm chỉ để đi tìm phiên bản tốt hơn của chính mình với niềm tin rằng đích đến đang rất gần rồi và dù bằng bất cứ giá nào chúng tôi vẫn sẽ chọn kim chỉ nam:

                        "Lấy con người và những giá trị căn bản làm trung tâm. Thật với mình và thật với mọi người. Nỗ lực để những người đồng hành cùng mình có những trải nghiệm tuyệt vời và phát triển bền vững với ngành dịch vụ. Nỗ lực để tạo ra những không gian mang đến sự yên bình và ấm áp cho tất cả khách hàng".</p>
                    <p>Với mong muốn mang tới bạn những trải nghiệm mới lạ hơn mỗi khi cần nạp caffeine, MONO Coffee Lab xin gửi tới bạn nhóm cà phê được chiết xuất từ hạt cà phê chất lượng cao, có thể pha bằng nhiều phương pháp khác nhau mà vẫn cho ra hương thơm và độ đậm tuyệt vời!</p>
               
                </div>
            </div>
        </div>
    </div>
   

    </div>
</div>
</div>
<!-- End Why Choose Us Section -->







