<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="./admin/home-admin"><i class="menu-icon fa fa-laptop"></i>Trang Chủ </a>
                </li>
                <li class="menu-title">Quản lý</li><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Sản Phẩm</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="./admin/sanphamadmin">Sản Phẩm</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/loaisanphamadmin">Loại Sản Phẩm</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/nhacungcap">Nhà Cung Cấp</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Thông tin</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="./admin/blogadmin">Blog</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/gioithieuadmin">Giới Thiệu</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Hóa đơn</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="./admin/hoadonban">Hóa đơn bán</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/hoadonnhap">Hóa đơn nhập</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/chitiethdb">Chi tiết hóa đơn bán</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/chitiethdn">Chi tiết hóa đơn nhập</a></li>
                    </ul>
                </li>
             
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tài Khoản</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="./admin/account">Tài khoản</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/khachhang">Khách hàng</a></li>
                        <li><i class="fa fa-table"></i><a href="./admin/nhanvien">Nhân viên</a></li>
                    </ul>
                </li>
               


                
                <li class="menu-title">Khác</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Chức năng</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Đăng Nhập</a></li>
                        <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Đăng Kí</a></li>
                        <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Quên mật khẩu</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>