<div class="container my-4">
    <div class="auth-form mx-auto">
      <h2 class="text-center">Đăng Ký</h2>
      <form action=""  method="POST" [formGroup]="signup" (submit)="onSignup()">
        <div class="form-group">
          <label for="username">Tên Người Dùng:</label>
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="Nhập vào tên người dùng" >
          <div *ngIf="f['username'].touched && f['username'].errors">
            <small class="help-block" *ngIf="f['username'].errors['required']">Tên người dùng không được để trống</small>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" formControlName="email"  id="email" placeholder="Nhập vào email" >
          <div *ngIf="f['email'].touched && f['email'].errors">
            <small class="help-block" *ngIf="f['email'].errors['required']">Email không được để trống</small>
            <small class="help-block"  *ngIf="f['email'].errors['email']">Email không đúng định dạng</small>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="form-label">Mật khẩu</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Nhập mật khẩu">
          <div *ngIf="f['password'].touched && f['password'].errors">
            <small class="help-block" *ngIf="f['password'].errors['required']">Mật khẩu không được để trống</small>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Xác Nhận Mật Khẩu:</label>
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmpassword" placeholder="Nhập lại mật khẩu" >
          <div *ngIf="f['confirmpassword'].touched && f['confirmpassword'].errors">
            <small class="help-block" *ngIf="f['confirmpassword'].errors['required']">Mật khẩu không được để trống</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Đăng Ký</button>
      </form>

      <p class="text-center mt-3">Bạn đã có tài khoản? <a href="./client/login" class="text-success">Đăng Nhập</a></p>
    </div>
  </div>