		<!-- Start Hero Section -->
        <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Thanh Toán</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        
                    </div>
                </div>
            </div>
        </div>
    <!-- End Hero Section -->
    <div class="untree_co-section">
        <div class="container" >
          <div class="row mb-5">
            <div class="col-md-12">
            </div>
          </div>
          <div class="row" >
          <form class="col-md-6 mb-5 mb-md-0"  action=""  method="POST" [formGroup]="checkout" (submit)="onCheckout()" >  
                  <h2 class="h3 mb-3 text-black">Đơn Hàng Của Bạn</h2>
                  <div class="p-3 p-lg-5 border bg-white">
                    <table class="table site-block-order-table mb-5">
                      <thead>
                        <th>Sản Phẩm</th>
                        <th>Đơn Giá</th>
                      </thead>
                      <tbody *ngFor="let tt of ck, ">
                        <tr>
                          <td formControlName="name"> {{ tt.name }} <strong class="mx-2">x</strong> {{ tt.quantity }}</td>
                          <td formControlName="price">{{ tt.price | number :'1.0-0' }} vnđ</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td class="text-black font-weight-bold"><strong>Tổng Số Lượng </strong></td>
                          <td class="text-black">{{ totalQuantity }}</td>
                        </tr>
                        <tr>
                          <td class="text-black font-weight-bold"><strong>Tổng Đơn Hàng</strong></td>
                          <td class="text-black font-weight-bold"><strong>{{ totalPrice | number:'1.0-0' }} vnđ</strong></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
            </form>
            <form class="col-md-6 mb-5 mb-md-0"  action=""  method="POST" [formGroup]="checkout" (submit)="onCheckout()" >
              <h2 class="h3 mb-3 text-black">Chi Tiết Hóa Đơn</h2>
              <div class="p-3 p-lg-5 border bg-white">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_fname" class="text-black"> Họ Tên <span class="text-danger">*</span></label>
                    <input type="text" class="form-control"  id="HoTen" formControlName="HoTen">
                    <div *ngIf="f['HoTen'].touched && f['HoTen'].errors">
                      <small class="help-block" *ngIf="f['HoTen'].errors['required']">Tên khách hàng không được để trống</small>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_address" class="text-black">Địa Chỉ <span class="text-danger">*</span></label>
                    <input type="text" class="form-control"  id="DiaChi" formControlName="DiaChi" placeholder="Thành phố/Tỉnh, Quận/huyện, Phường/xã">
                    <div *ngIf="f['DiaChi'].touched && f['DiaChi'].errors">
                      <small class="help-block" *ngIf="f['DiaChi'].errors['required']">Địa chỉ không được để trống</small>
                    </div>
                  </div>
                </div>
                <div class="form-group row mb-5">
                  <div class="col-md-6">
                    <label for="c_email_address" class="text-black">Email <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Email" formControlName="Email" >
                    <div *ngIf="f['Email'].touched && f['Email'].errors">
                      <small class="help-block" *ngIf="f['Email'].errors['required']">Email không được để trống</small>
                      <small class="help-block"  *ngIf="f['Email'].errors['email']">Email không đúng định dạng</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="c_phone" class="text-black">Số điện thoại <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Sdt" formControlName="Sdt"placeholder="" >
                    <div *ngIf="f['DiaChi'].touched && f['Sdt'].errors">
                      <small class="help-block" *ngIf="f['Sdt'].errors['required']">Số điện thoại không được để trống</small>
                      <small class="help-block" *ngIf="f['Sdt'].errors['maxlength']">Số điện thoại không được quá kí tự</small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="c_order_notes" class="text-black">Ghi Chú</label>
                  <input  cols="30" rows="5" type="text" class="form-control" id="ghichu" formControlName="ghichu" placeholder="Nhập vào ghi chú của bạn...">
                </div>
                <div class="form-group">
                  <button class="btn btn-black btn-lg py-3 btn-block"  type="submit" >Thanh Toán Khi Nhận Hàng</button>
                </div>
                <div class="form-group">
                  <button class="btn btn-black btn-lg py-3 btn-block"  type="submit" >Thanh Toán Bằng VNPay</button>
                </div>    
              </div>
            </form>
          </div>
        </div>
      </div>