<div class="breadcrumbs">
    <!-- <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Table</a></li>
                            <li class="active">Basic table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Nhân Viên</strong>
                    <div class="ml-auto">
                        <a href="#" class="btn btn-primary btn-sm" >
                            <i class="fa fa-plus"></i> Thêm mới
                        </a>
                    </div>
                </div>
                
                <div class="card-body">
                   

                    
                    <table class="table">
                        
                        <thead class="thead-dark">
                            <tr>
                              <th scope="col">Stt</th>
                              <th scope="col">Họ Tên </th>
                              <th scope="col">Giới Tính</th>
                              <th scope="col">Ngày Sinh</th>
                              <th scope="col">Địa Chỉ</th>
                              <th scope="col">Email</th>
                              <th scope="col">SĐT</th>
                              <th scope="col">Thao Tác</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let nv of nhanvien, let i = index" >
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ nv.HotenNV }}</td>
                            <td>{{ nv.GioitinNV}}</td>
                            <td>{{ nv.NgaysinhNV }}</td>
                            <td>{{ nv.diachiNV }}</td>
                            <td>{{ nv.EmailNv }}</td>
                            <td>{{ nv.SdtNV }}</td>
                            <td>
                                <a href="#" >
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" >
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>  
                    </tbody>
                    </table>
                
            </div>
        </div>
    </div>
</div>
