
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Đăng nhập
          </div>
          <div class="card-body">
            <form action=""  method="POST" [formGroup]="loginF" (submit)="onLogin( )">
              <div class="mb-3">
                <label for="username" class="form-label">Tên người dùng</label>
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Nhập vào email" >
                <div *ngIf="f['email'].touched && f['email'].errors">
                  <small class="help-block" *ngIf="f['email'].errors['required']">Email không được để trống</small>
                  <small class="help-block"  *ngIf="f['email'].errors['email']">Email không đúng định dạng</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Nhập mật khẩu">
                <div *ngIf="f['password'].touched && f['password'].errors">
                  <small class="help-block" *ngIf="f['password'].errors['required']">Mật khẩu không được để trống</small>
                </div>
              </div>
              <div>
                <span>Bạn đã có tài khoản? </span>
                <a href="./client/signup">Đăng ký ngay</a>
            </div>
              <button type="submit" class="btn btn-primary" [disabled]="f['email'].errors || f['password'].errors">Đăng nhập</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
